body {
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
h2 {
  font-size: 90px;
}
ul {
  list-style: none;
  text-align: left;
}
li {
  display: block;
}

.weather-app {
  max-width: 600 px;
}
.btn {
  color: blueviolet;
  background-color: rgb(162, 232, 76);
}
.card {
  box-shadow: 2px 2px 8px;
  border-radius: 40px;
  text-align: center;
}
.card-title {
  font-size: xx-large;
}
.card-text {
  font-family: monospace;
}
.row {
  padding-top: 70px;
}
.col-6 {
  text-align: left;
}
.weather-temprature img {
  height: 70 px;
  width: 70 px;
  margin-left: 20px;
}
.today-weather.units {
  position: relative;
  top: -34px;
  font-size: 15 px;
}
small {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
a {
  font-size: 1 px;
}
.col-3 {
  text-align: center;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: bold;
}
.form-control {
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
}
